.complaints-list {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.complaints-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Adjusted gap between containers */
  width: 100%;
}

.complaint-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 20%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative; /* Ensure absolute positioned elements are contained */
  max-height: 1000px;
  height: auto; /* Allow height to be determined by content */
}

.complaint-card img {
  max-width: 150%;
  max-height: 225px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  width: 295px;
}

.complaint-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.complaint-card p {
  margin: 10px 0;
  overflow: hidden; /* Ensure the description does not overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
  white-space: normal; /* Allow text wrapping */
  flex-grow: 1; /* Allow the paragraph to grow and fill available space */
}

.complaint-card a {
  color: #007bff;
  text-decoration: none;
  margin-top: 10px; /* Add margin to separate the link from the content */
}

@media (max-width: 768px) {
  .complaint-card {
    width: calc(50% - 20px); /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .complaint-card {
    width: calc(100% - 20px); /* Full width for very small screens */
  }
}
